@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{

    padding: 0;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    height: 42px;
    background-color: #2874f0;
    margin-bottom: 12px;
    /* border: 2px solid red; */
    
}
footer{
    background-color: black;
    color: white;
    height: 10vh;
}
nav ul li{
    list-style: none ;
    padding: 12px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 21px;
}
nav ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(171, 241, 212);
    /* font-weight: bolder; */
    border-radius: 5px;
}
nav ul {
    display: flex;
    align-items: center;
    height: 74px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
nav{
    display: flex;
}
nav img{
    width: 126px;
}
.logo{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
}
#search{
    width: 500px;
    height: 26px;
    border-radius: 5px;
    margin: 22px;
}
#login {
    list-style: none;
   
}
#login a{
    text-decoration:none;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 7px 23px;
    border-radius: 3px;
    margin-left: 206px;
}
#login a:hover{
    background-color: black;
    color: white;
    
}
.btn{
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 7px 30px;
    border-radius: 8px;
    width: 108px;
    height: 33px;
    position: relative;
    top: 20px;
}

.slider{
    overflow : hidden;
}
.slider img{
    display: block;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 10px;
    height: 70vh;
    width: 70vw;
    
}
.products{
    border: 1px solid black;
    margin-bottom: 8px;
    margin-left: 62px;
    margin-right: 94px;
}
.product-item{
    margin-left: 31px;
    width: 12vw;

    display: inline-flex;
    justify-content: center;
    flex-direction: column;


}
.my-1{
    margin-left: 5px;
}
.lines{
    margin-left: 15px;
    width: 12vw;
}
.lines .text-center1 {
   
    color: darkblue;
    font-size: 20px;
}
.lines .text-center2{
    text-align: center;
    color: green;
    width: 7vw;
    font-size: 19px;
}
.lines .text-center3{
    text-align: center;
    width: 7vw;
    font-size: larger;
}
.product-item img{
    margin-top: 12px;
    height: 166px;
    width: 150px;
}
body{
    background-color: bisque;
}
.products{
    background-color: rgb(142, 221, 231);
    padding-top: 12px;
}
